html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family:
    'Segoe UI',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
